<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= siteName %> | <%= siteTitle %></title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/public/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/public/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/public/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/public/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/public/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/public/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/public/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/public/css/style.css" type="text/css">
    <link rel="stylesheet" href="/public/css/custom.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <%- include('../block/hamburger') %>

    <!-- Header Section Begin -->
    <header class="header">
        <%- include('../block/top') %>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <a href="/"><img src="/public/img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <%- include('../block/header_menu') %>
                </div>
                <div class="col-lg-3">
                    <%- include('../block/header_cart') %>
                </div>
            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->