<%- include('layout/header') %>
<!-- Hero Section Begin -->
<section class="hero hero-normal">
   <div class="container">
      <div class="row">
         <div class="col-lg-3">
            <%- include('block/categories') %>
         </div>
         <div class="col-lg-9">
            <%- include('block/search') %>
         </div>
      </div>
   </div>
</section>
<!-- Hero Section End -->
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="/public/img/breadcrumb.jpg">
   <div class="container">
      <div class="row">
         <div class="col-lg-12 text-center">
            <div class="breadcrumb__text">
               <h2><%= title %></h2>
               <div class="breadcrumb__option">
                  <a href="/">Home</a>
                  <span><%= title %></span>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- Breadcrumb Section End -->
<!-- Blog Section Begin -->
<section class="blog spad">
   <div class="container">
      <div class="row">
         <div class="col-lg-4 col-md-5">
            <%- include('block/blog_sidebar') %>
         </div>
         <div class="col-lg-8 col-md-7">
            <div class="row">
               <% blogPosts.forEach(post => { %>
               <div class="col-lg-6 col-md-6 col-sm-6">
                  <div class="blog__item">
                     <div class="blog__item__pic">
                        <img src="/public/<%= post.banner %>" alt="">
                     </div>
                     <div class="blog__item__text">
                        <ul>
                           <li><i class="fa fa-calendar-o"></i> <%= post.formattedDate %></li>
                           <li><i class="fa fa-comment-o"></i> <%= post.commentsCount %></li>
                        </ul>
                        <h5><a href="#<%= post.name %>"><%= post.title %></a></h5>
                        <p><%= post.content %></p>
                        <a href="/blog-post/<%= post.name %>" class="blog__btn">READ MORE <span class="arrow_right"></span></a>
                     </div>
                  </div>
               </div>
               <% }) %>
               <% if (totalPages > 1){ %>
               <div class="col-lg-12">
                  <div class="product__pagination blog__pagination">
                      <% for(let i = 1; i <= totalPages; i++){ %>
                     <a href="?page=<%= i %>"<% if(currentPage == i){ %> class="active"<% } %>><%= i %></a>
                     <% } %>
                     <!--a href="#"><i class="fa fa-long-arrow-right"></i></a-->
                  </div>
               </div>
               <% } %>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- Blog Section End -->
<%- include('layout/footer') %>